<%- include('header') -%>
<div class="contact"></div>
<main class="container _contact">
    <article>
        <h1>Contactez-nous</h1>
        <form  class="form_contact" method="post">
            <fieldset>
                <legend>Formulaire de contact</legend>
                <label for="firstname">Prénom</label>
                <input type="text" name="firstname" id="firstname" placeholder="Prénom">
                <% if(locals.messageFirstname) { %>
                    <p class="message_error"><%= messageFirstname %></p>
                <% } %>
                <label for="lastname">Nom</label>
                <input type="text" name="lastname" id="lastname" placeholder="Nom">
                <% if(locals.messageLastname) { %>
                    <p class="message_error"><%= messageLastname %></p>
                <% } %>
                <label for="E-mail">E-mail</label>
                <input type="email" name="email" id="email" placeholder="E-mail">
                <% if(locals.messageEmail) { %>
                    <p class="message_error"><%= messageEmail%></p>
                <% } %>
                <label for="message">Message</label>
                <textarea name="message" id="" cols="30" rows="10"></textarea>  
                <% if(locals.messageUser) { %>
                    <p class="message_error"><%= messageUser %></p>
                <% } %>
                <button type="submit">Envoyer un message</button>
                <% if(locals.message) { %>
                    <p class="message"><%= message %></p>
                <% } %>
            </fieldset>
        </form>
    </article>
</main>
<script src="/javascript/formulaire.js"></script>
<%- include('footer') -%>