<%- include('header') -%>
<div class="books"></div>
    <main>
        <section class="container_books">
            <h1 lang="pt-br"><%= books.title %></h1>
            <article class="details"> 
                <div class="technical_informations">
                        <div class="details_cover">
                            <img src="/images/<%= books.url_cover_image %>" alt="<%= books.alt_text %>">
                        </div>
                        <div class="editor_informations">
                            <h2 lang="pt-br">Ficha técnica:</h2>
                            <p lang="pt-br"><span class="informations">Apresentado no clube em:</span> <%= books.date_reading_club.toLocaleDateString() %></p>
                            <p lang="pt-br"><span class="informations">Título:</span> <%= books.title %></p>
                            <p lang="pt-br"><span class="informations">Autor:</span> <%= books.firstname + " " + books.lastname %></p>
                            <p lang="pt-br"><span class="informations">Editora:</span> <%= books.name %></p>
                            <p lang="pt-br"><span class="informations">ISBN: </span> <%= books.isbn %></p>
                            <p lang="pt-br"><span class="informations">Ano de publicação:</span> <%= books.publication_year %></p>
                            <p lang="pt-br" class="description"><span class="informations">Descrição:</span> <%= books.description %></p>
                        </div>
                </div>
            </article>
          </section>
          <section>
            <article class="comments">
                <h2 lang="pt-br">Opinião dos leitores</h2>
                <div class="id_comment"> 
                    <p lang="pt-br"><span class="informations reader">Leitor:</span></p>
                    <p lang="pt-br"><span class="informations date">Data:</span></p>
                    <p lang="pt-br"><span class="informations comment">Comentário:</span></p>
                </div>
                <form method="post" class="form_comment">
                    <fieldset>
                        <legend lang="pt-br"> Comente o livro</legend>
                        <label for="email">E-mail</label>
                        <input class="input-error" type="email" name="email" id="email" placeholder="E-mail">
                        <textarea name="textarea" class="input-error" id="" cols="30" rows="5" placeholder="Escreva aqui o seu comentário" lang="pt-br"></textarea>
                        <button type="submit" lang="pt-br">Dê a sua opinião</button>
                        <% if(locals.message) { %>
                        <p class="message_error"><%= message%></p>
                        <% } %>
                    </fieldset>
                </form>
            </article>
          </section>  
    </main>
    <script src="/javascript/formulaire.js"></script>
<%- include('footer') -%>