<%- include('header') -%>
<div class="books"></div>
<main>
    <section class="container_books">
        <h1 class="readings">Les contemporaines</h1>
        <div class="books_gallery">
            <% for(let i=0; i < books.length; ++i) { %>
            <div class="card">
                <article class="cover_book">
                        <figure>
                            <img src="/images/<%= books[i].url_cover_image %>" alt="<%= books[i].alt_text %>">
                            <figcaption lang="pt-br"><%= books[i].title %></figcaption>
                        </figure>
                        <button type="button"><a href="/details_readings/<%= books[i].id_book %>">En savoir plus</a></button>
                </article>
            </div>
            <% } %>  
        </div>
    </section>
</main>
<%- include('footer') -%>
